version: 2

jobs:
  build:
    docker:
      - image: circleci/python:3.7
    working_directory: ~/southeast-isan-community
    steps:
      - checkout
      - restore_cache:
          keys:
          - py-v1-dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: Install Dependencies
          command: |
            sudo pip install pipenv
            export PIPENV_VENV_IN_PROJECT=~/southeast-isan-community
            pipenv install
      - save_cache:
          paths:
            - ./.venv
          key: py-v1-dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: Run Static Analysis
          command: |
            pipenv run flake8
      - run:
          name: Run Tests
          command: |
            cd southeast_isan_community
            pipenv run pytest
